/* You can add global styles to this file, and also import other style files */
img:hover {
  cursor: pointer;
  position: relative;
  opacity: 0.6;
}

.text {
  width: 30%;
  margin: 10px 0;
  display: block;
  min-height: 300px;
}

.centertest {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .test {
    width: 45%;
    min-height: 230px;
  }
}
